html {
    background-color: lightgreen;
    color: darkblue;
}

#navbar {
    background-color: lightgreen;
    padding: 20px;
    margin-right: 20%;
    display: flex;
    justify-content: space-around;
}

#h1 {
    background-color: lightgreen;
    color: darkblue;
    margin-right: 10%;
}

.buttons {
    background-color: lightgreen;
    color: darkblue;
    border: none;
    margin-right: 13%;
    font-size: large;
}

#card-list,
#card-list1,
#card-list2 {
    display: none;
}

#card-list.active,
#card-list1.active,
#card-list2.active{
    display: block;
}

.cards{
    padding-bottom: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: larger;
}

.special{
    background-color: darkblue;
    padding: 10px 15px;

}

.hyperlink{
    color: aliceblue;
}